<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445513881424-t4k1g663bu3mqlrdhhe7p7dfo6lgqdm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445513881424-t4k1g663bu3mqlrdhhe7p7dfo6lgqdm8</string>
	<key>API_KEY</key>
	<string>AIzaSyCgC57Lxu3v_6HNioPA83V8JuMwSjJkiYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>445513881424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.outreachappfinal</string>
	<key>PROJECT_ID</key>
	<string>finaloutreach-e08e4</string>
	<key>STORAGE_BUCKET</key>
	<string>finaloutreach-e08e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445513881424:ios:59f3ac184c4f31f5a7be55</string>
</dict>
</plist>